{% extends "base.html" %}

{% block content %}

<style type="text/css">

.course_names {
    max-height: 60vh;
    overflow-y: auto;
    border-bottom: 1px solid lightgray;
    margin-bottom: 1em !important;
}

.course_name {
    text-align: left;
}

.course_name {
    display: flex;
    justify-content: space-between;
}

.add-button {
    width: 100%;
}

.logo {
    margin-left: 0.4em;
}
</style>

<script type="text/javascript">
document.addEventListener('DOMContentLoaded', () => {
    // Functions to open and close a modal
    function openModal($el) {
        $el.classList.add('is-active');
    }

    function closeModal($el) {
        $el.classList.remove('is-active');
    }

    // Add a click event on buttons to open a specific modal
    (document.querySelectorAll('.js-modal-trigger') || []).forEach(($trigger) => {
        const modal = $trigger.dataset.target;
        const $target = document.getElementById(modal);

        $trigger.addEventListener('click', () => {
            openModal($target);
        });
    });

    // Add a click event on various child elements to close the parent modal
    (document.querySelectorAll('.modal-close, .delete, .close') || []).forEach(($close) => {
        const $target = $close.closest('.modal');

        $close.addEventListener('click', () => {
            closeModal($target);
        });
    });
});


let update_list = function(e){
    let courses = document.getElementsByClassName("course_name")
    for (let s in courses) {
        if (!courses[s].innerHTML.toLowerCase().includes(e.target.value.toLowerCase())){
            courses[s].style.display = 'none';
        } else {
            courses[s].style.display = 'flex';
        }
    }
}

let load_semester = function(e){
    window.location.href = `/admin/manage/${e.target.value}`;
}
</script>

<div class="columns">
    <div class="column  is-one-quarter ">
        <article class="panel">
            <p class="panel-heading">
              Liste des cours
            </p>
            <div class="panel-block">
              <p class="control has-icons-left">
                <input class="input" type="text" placeholder="Search" oninput="update_list(event)">
                <span class="icon is-left">
                  <i class="fas fa-search" aria-hidden="true"></i>
                </span>
              </p>
            </div>
            <div class="course_names">
                {% for course in courses %}
                <div id="{{course.code}}" class="panel-block course_name">
                    <span style="display: flex; pointer-events: none;">
                        <p class="code" style="pointer-events: none;"><b>{{course.code}}</b></p>
                        <p style="margin-left: 0.4em; margin-right: 0.4em; pointer-events: none;">-</p>
                        <p class="name" style="pointer-events: none;">{{course.name}}</p>
                    </span>
                </div>
                {% endfor %}
            </div>
        </article>
        <button class="button is-warning js-modal-trigger add-button" data-target="modal-create-course">Ajouter un cours</button>

    </div>
    <div class="column  is-one-quarter">
        <article class="panel">
            <p class="panel-heading">
              Liste des semestres
            </p>
            <div class="panel-block">
              <p class="control has-icons-left">
                <input class="input" type="text" placeholder="Search" oninput="update_list(event)">
                <span class="icon is-left">
                  <i class="fas fa-search" aria-hidden="true"></i>
                </span>
              </p>
            </div>
            <div class="course_names">
                {% for semester in semesters %}
                <div id="{{semester.code}}" class="panel-block course_name">
                    <span style="display: flex; pointer-events: none;">
                        <p class="code" style="pointer-events: none;"><b>{{semester.code}}</b></p>
                        <p style="margin-left: 0.4em; margin-right: 0.4em; pointer-events: none;">-</p>
                        <p class="name" style="pointer-events: none;">{{semester.name}}</p>
                    </span>
                </div>
                {% endfor %}
            </div>
        </article>
        <button class="button is-warning js-modal-trigger add-button" data-target="modal-create-semester">Ajouter un semestre</button>

    </div>
    <div class="column">
        <article class="panel is-warning">
            <div class="panel-heading">
              Liste des cours du semestre
              <div class="select is-small" onchange="load_semester(event)">
                <select>
                    {% for sem in semesters %}
                    {% if active == sem %}
                        <option selected="selected">{{sem.code}}</option>
                    {% else %}
                        <option>{{sem.code}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
              </div>
            </div>
            <div class="panel-block">
              <p class="control has-icons-left">
                <input class="input" type="text" placeholder="Search" oninput="update_list(event)">
                <span class="icon is-left">
                  <i class="fas fa-search" aria-hidden="true"></i>
                </span>
              </p>
            </div>
            <div class="course_names">
                {% for course in semester.courses_semesters %}
                <div id="{{course.course_code}}" class="panel-block course_name">
                    <span style="display: flex; pointer-events: none;">
                        <p class="code" style="pointer-events: none;"><b>{{course.course_code}}</b></p>
                        <p style="margin-left: 0.4em; margin-right: 0.4em; pointer-events: none;">-</p>
                        <p class="name" style="pointer-events: none;">{{course.course.name}}</p>
                    </span>
                    <form action="/course/{{semester.code}}/{{course.course_code}}/members">
                        <button type="submit" class="button course-control">
                            Gérer les membres
                            <i class="fa-solid fa-user-pen logo"></i>
                        </button>
                    </form>
                </div>

                {% endfor %}
            </div>
        </article>
        <button class="button is-warning js-modal-trigger add-button" data-target="modal-create-course-semester">Ajouter un cours sur le semestre {{semester.code}}</button>
    </div>

  </div>


<form method="POST" action="/admin/course/new">
    <div class="modal" id="modal-create-course">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">
                Ajouter un cours
                </p>
                <button type="button" class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Code :</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control is-expanded has-icons-left">
                            <input name="code" class="input" required="true" />
                            <span class="icon is-small is-left">
                                <i class="fa-solid fa-file-signature"></i>
                            </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Nom :</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control is-expanded has-icons-left">
                            <input name="name" class="input" required="true" />
                            <span class="icon is-small is-left">
                                <i class="fa-solid fa-file-signature"></i>
                            </span>
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <footer class="modal-card-foot">
                <button type="submit" class="button is-success">Ajouter</button>
                <button type="button" class="button is-danger close">Annuler</button>
            </footer>
        </div>
    </div>
</form>

<form method="POST" action="/admin/semester/new">
    <div class="modal" id="modal-create-semester">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">
                Ajouter un semestre
                </p>
                <button type="button" class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Code :</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control is-expanded has-icons-left">
                            <input name="code" class="input" required="true" />
                            <span class="icon is-small is-left">
                                <i class="fa-solid fa-file-signature"></i>
                            </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Nom :</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control is-expanded has-icons-left">
                            <input name="name" class="input" required="true" />
                            <span class="icon is-small is-left">
                                <i class="fa-solid fa-file-signature"></i>
                            </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Date de début :</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control is-expanded has-icons-left">
                            <input name="begin" class="input" type="date" required="true" />
                            <span class="icon is-small is-left">
                                <i class="fa-solid fa-file-signature"></i>
                            </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Date de fin :</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control is-expanded has-icons-left">
                            <input name="end" class="input" type="date" required="true" />
                            <span class="icon is-small is-left">
                                <i class="fa-solid fa-file-signature"></i>
                            </span>
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <footer class="modal-card-foot">
                <button type="submit" class="button is-success">Ajouter</button>
                <button type="button" class="button is-danger close">Annuler</button>
            </footer>
        </div>
    </div>
</form>

<form method="POST" action="/admin/semester/{{semester.code}}/new">
    <div class="modal" id="modal-create-course-semester">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">
                Ajouter un cours pour le semestre {{semester.code}}
                </p>
                <button type="button" class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Cours :</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control is-expanded has-icons-left">
                            <div class="select">
                                <select name="course_code">
                                    {% for course in courses %}
                                    <option value="{{course.code}}">{{course.code}} - {{course.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <footer class="modal-card-foot">
                <button type="submit" class="button is-success">Ajouter</button>
                <button type="button" class="button is-danger close">Annuler</button>
            </footer>
        </div>
    </div>
</form>
{% endblock %}
