<!-- templates/base.html -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wexam - Consultation de copies</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"/>

    <style type="text/css">
      html {
        height:100%;
      }

      body {
        position: relative;
        margin: 0;
        padding-bottom: 6rem;
        min-height: 100%;
      }

      .hero-body {
        padding-top: 1.5em;
        padding-bottom: 0em;
      }

      .detail {
        font-size: 0.8em;
        color: #888;
      }

      .back {
        margin-bottom: 0.5em;
        display: flex;
      }

      .footer {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        padding-top: 1.5em;
        padding-bottom: 2em;
      }

      #wexam:hover {
        animation: spin 3s cubic-bezier(0.8, 0, 0.2, 1) infinite;
      }

      @keyframes spin{
         50% { transform: rotate(-540deg); }
        100% { transform: rotate(-1080deg); }
      }



    </style>
</head>

<script type="text/javascript">

document.addEventListener('DOMContentLoaded', () => {

// Get all "navbar-burger" elements
const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

// Add a click event on each of them
$navbarBurgers.forEach( el => {
  el.addEventListener('click', () => {

    // Get the target from the "data-target" attribute
    const target = el.dataset.target;
    const $target = document.getElementById(target);

    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
    el.classList.toggle('is-active');
    $target.classList.toggle('is-active');

  });
});

});
</script>

<body>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img id="wexam" src="/static/logo.svg" style="max-height: 4rem !important; margin-left: 1em; margin-right: 0.5em;">
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/">
          Accueil
        </a>

        <a class="navbar-item" href="/user/">
          Profil
        </a>

        <a class="navbar-item" href="/docs/">
          Documentation
        </a>

      </div>

      <div class="navbar-end">
        {% if user.role.name == 'admin' %}
        <a class="navbar-item" href="/admin/view">
          Vue administrateur
        </a>
        <a class="navbar-item" href="/admin">
          Administration
        </a>
        {% endif %}
        <div class="navbar-item">
          <div class="buttons">
            {% if not session["CAS_USERNAME"] %}
            <a class="button is-primary" href={{ url_for("cas.login") }}>
            Log in
            {% else %}
            <a class="button is-warning" href={{ url_for("cas.logout") }}>
            Log out
            {% endif %}
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <section class="hero">
    <div class="hero-body">
      <div class="container has-text-centered" style="width: 90%; max-width: 90%;">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </section>
</body>

<div class="footer">
  <div class="content has-text-centered">
    <p>
      Avec passion par <a href="https://gitlab.com/jb-leger">@jbl</a> et <a class="author" href="https://gitlab.com/ThibaudLG">@tlg</a>. <a href="http://gitlab.com/wexam/wexam">Code source</a> sous licence
      <a href="http://opensource.org/licenses/mit-license.php"  style="color: inherit;">MIT</a>.
    </p>
  </div>
</div>

</html>
