{% extends "base.html" %}

{% block content %}

<style type="text/css">
    .part2 {
        margin-left: 1em;
    }

    h3 {
        margin-left: 1em;
    }

    .part3 {
        margin-left: 2em;
    }

    .logo {
        margin-right: 0.5em;
    }

    .logo:hover {
        cursor: pointer;
    }
</style>

<script type="text/javascript">
    let toggle_part = function (e) {

        let to_hide = document.getElementById(`part-${e}`);
        let arrow = document.getElementById(e);
        if (to_hide.hidden == false) {
            to_hide.hidden = true
            arrow.classList.remove("fa-angle-down")
            arrow.classList.add("fa-angle-right")
        } else {
            to_hide.hidden = false
            arrow.classList.remove("fa-angle-right")
            arrow.classList.add("fa-angle-down")
        }
    }
</script>


<div class="content" style="text-align: left;">
    <h1 class="title">Introduction</h1>
    <p>
        Wexam est une application opensource permettant la publication de copies d'examens.
        Considérant les enjeux pédagogiques majeurs qu'offre une consultation attentive de sa copie d'examen,
        Wexam a pour vocation de faciliter ce processus en offrant une interface enseignant permettant le chargement et
        l'association de copies numérisées.
        Elle offre aux étudiants un accès rapide et illimité à leurs copies numérisées, une fois l'examen publié.
    </p>

    <h1 class="Title">Documentation</h1>
    <p>Vous trouverez dans cette section de nombreuses informations concernant la plateforme et son utilisation.</p>

    <span onclick="toggle_part('tags')">
        <h2 class="title"><i id="tags" class="fa-solid fa-angle-down is-small logo"></i>Tags</h2>
    </span>
    <div id="part-tags" class="part2">

        <p>Plusieurs tags sont utilisés pour caractériser l'état des associations et des publications :</p>

        <table>
            <tr>
                <th>Tag</th>
                <th>Description</th>
            </tr>
            {% for st in status %}
            <tr>
                <td>
                    <span class="tag is-rounded {{status[st].class}}" style="margin-right: 0em;">
                        {{status[st].status}}
                    </span>
                </td>
                <td>
                    {{status[st].describe}}
                </td>
            </tr>

            </p>
            {% endfor %}
        </table>

        <blockquote>Lorsqu'aucune copie n'a été chargée, l'état de publication n'apparait pas.</blockquote>
    </div>

    <span onclick="toggle_part('usage')">
        <h2 class="title"><i id="usage" class="fa-solid fa-angle-down is-small logo"
                onclick="toggle_part(event)"></i>Utilisation</h2>
    </span>
    <div id="part-usage" class="part2">
        <p>La mise en ligne des copies suit un processus en 5 étapes :</p>
        <ol>
            <li>Création de l'examen</li>
            <li>Numérisation des copies</li>
            <li>Chargement des copies</li>
            <li>Association des copies aux étudiants</li>
            <li>Publication</li>
        </ol>

        <p>Classiquement, dans l'ordre chrononolique:</p>
        <ul>
            <li>Le responsable d'UV créé l'examen, avec autant de parties que nécessaire. Chaque partie correspondant à
                un ou plusieurs exercices corrigés à part. Lorsqu'il n'y a pas de division des copies entre correcteurs,
                il n'y a pas lieu d'utiliser plus d'une partie.</li>
            <li>Après correction de sa partie, chaque correcteur procède à la numérisation des copies de sa partie, puis
                au chargement de celles-ci. Enfin, une fois les copies chargées le correcteur procède à l'association
                des copies de sa partie. Cette étape remplace le recopiage de notes dans un tableur tel que
                classiquement effectué.</li>
            <li>Une fois les parties associées (toutes ou en partie), les enseignants peuvent consulter tous les
                résultats et les copies, utiliser l'interface pour les délibérations et les jurys d'UV, et comme analyse
                des points de blocages de leurs groupes de TD.</li>
            <li>Le responsable d'UV publie les résultats aux étudiants.</li>
        </ul>

        <blockquote>Chacune des actions est réversible.</blockquote>


        <span onclick="toggle_part('create')">
            <h3 class="title">
                <i id="create" class="fa-solid fa-angle-right is-small logo"></i>
                Création d'un examen
            </h3>
        </span>
        <div id="part-create" class="part3" hidden=true>
            <p>La page d'accueil, permet d'accéder aux différents enseignements auxquels vous appartenez. Si aucun
                enseignement n'est visible ou que vous ne voyez pas celui que vous souhaitez éditer, contactez un
                administrateur.</p>
            <p>Pour chaque enseignement, le bouton "Ajouter un examen" permet de créer un examen. Entrer les
                informations nécessaires concernant l'examen (nom, date, lien vers la correction et nombre de parties).
                L'interface propose également de choisir le nom de chaque partie. Ces informations seront visibles par
                les étudiants.</p>
            <figure>
                <img src="/static/create-01.png" alt="" />
                <figcaption>Bouton de création d'un examen</figcaption>
            </figure>
            <p>Une fois tous les détails entrés, appuyer sur le bouton "Ajouter". L'examen doit être visible sur la
                fenêtre d'accueil.</p>
            <figure>
                <img src="/static/create-02.png" alt="" />
                <figcaption>Écran d'accueil avec un examen créé</figcaption>
            </figure>
        </div>

        <span onclick="toggle_part('scan')">
            <h3 class="title">
                <i id="scan" class="fa-solid fa-angle-right is-small logo"></i>
                Numérisation des copies
            </h3>
        </span>
        <div id="part-scan" class="part3" hidden=true>
            <p>Nous décrivons ici le processus de numérisation sur les copieurs multi-fonctions de l’UTC pour des
                formats <em>« Copie double »</em> tel qu’utilisé dans la majorité des examen, la numérisation de copie
                en format A4 est très similaire.</p>
            <h4 id="préparation-des-copies">Préparation des copies</h4>
            <p>Les copies doivent être dépliées en tas, et de préférence toutes dans le même sens (il est possible de
                retourner les copies une à une dans l’étape d’association, mais il est conseillé d’essayer de les mettre
                dans le bon sens dès l’étape de numérisation et de n’utiliser le retournement dans l’association que en
                cas d’oubli). Il est conseillé de faire des tas de 50 copies double au maximum.</p>
            <p>En cas de copies au formats différents (en cas par exemple d’étudiants avec aménagements), il est
                necessaire de séparer les numérisations par formats, et de ne pas mélanger les formats au sein d’un même
                fichier.</p>
            <h4 id="étapes-préliminaires-sur-le-copieur">Étapes préliminaires sur le copieur</h4>
            <p>Cette partie décrit comment faire une numérisation sur clef USB (ne pas faire de numérisation par mail,
                le volume transféré ne permet pas au copieur d’envoyer les fichiers par mail).</p>
            <ol type="1">
                <li>
                    <p>Se connecter sur le copieur.</p>
                    <figure>
                        <img src="/static/scan-01.jpg" alt="" />
                        <figcaption>Connexion par badge</figcaption>
                    </figure>
                </li>
                <li>
                    <p>Sélectionner fonction du périphérique au milieu de l’écran.</p>
                    <figure>
                        <img src="/static/scan-11.jpg" alt="" />
                        <figcaption>Fonctions du périphérique</figcaption>
                    </figure>
                    <p><strong>Attention, pour des copies doubles, même en cas de numérisation par email, il faut passer
                            par les fonctions du périphérique et non par le menu de numérisation proposé à
                            l’acceuil.</strong> Le menu direct de numérisation proposé sur la page d’acceuil inverse les
                        pages en recto-verso en numérisation A3 utilisé pour les copies doubles.</p>
                </li>
                <li>
                    <p>Accepter la confirmation de votre compte (ou le sélectionner en cas de compte multiple).</p>
                    <figure>
                        <img src="/static/scan-10.jpg" alt="" />
                        <figcaption>Confirmation compte</figcaption>
                    </figure>
                </li>
                <li>
                    <p>Introduire votre clef USB. (Si la clef est déjà introduite, la retirer et l’introduire à
                        nouveau).</p>
                    <figure>
                        <img src="/static/scan-09.jpg" alt="" />
                        <figcaption>Introduction clef</figcaption>
                    </figure>
                </li>
                <li>
                    <p>Valider l’utilisation de la clef et afficher les fichiers.</p>
                    <figure>
                        <img src="/static/scan-08.jpg" alt="" />
                        <figcaption>Validation clef</figcaption>
                    </figure>
                </li>
                <li>
                    <p>Sélectionner <em>« Stockage de fichier »</em> </p>
                    <figure>
                        <img src="/static/scan-07.jpg" alt="" />
                        <figcaption>Stockage de fichier</figcaption>
                    </figure>
                </li>
            </ol>
            <h4 id="introduction-des-copies">Introduction des copies</h4>
            <p>Cette étape est essentielle. Les copies doivent être introduites comme sur la photo. C’est à dire, pli
                qui pointe vers le haut, première page à droite.</p>
            <figure>
                <img src="/static/scan-06.jpg" alt="" />
                <figcaption>Introduction des copies</figcaption>
            </figure>
            <h4 id="réglages-de-la-numérisation">Réglages de la numérisation</h4>
            <ul>
                <li>
                    <p>Sélectionner le menu couleur.</p>
                    <figure>
                        <img src="/static/scan-05.jpg" alt="" />
                        <figcaption>Menu couleur</figcaption>
                    </figure>
                    <p>Puis sélectionner le mode couleur.</p>
                    <figure>
                        <img src="/static/scan-04.jpg" alt="" />
                        <figcaption>Mode couleur</figcaption>
                    </figure>
                </li>
                <li>
                    <p>Sélectionner le menu recto.</p>
                    <figure>
                        <img src="/static/scan-13.jpg" alt="" />
                        <figcaption>Menu recto</figcaption>
                    </figure>
                    <p>Puis sélectionner le mode recto-verso.</p>
                    <figure>
                        <img src="/static/scan-03.jpg" alt="" />
                        <figcaption>Mode recto-verso</figcaption>
                    </figure>
                </li>
            </ul>
            <h4 id="numérisation">Numérisation</h4>
            <p><strong>Attention, bien lire la remarque sur le maintien des copies avant de lancer la
                    numérisation.</strong></p>
            <ul>
                <li>
                    <p>Lancer la numérisation.</p>
                    <figure>
                        <img src="/static/scan-02.jpg" alt="" />
                        <figcaption>Lancement numérisation</figcaption>
                    </figure>
                </li>
                <li>
                    <p>Pendant la numérisation, <strong>maintenir les copies dans le bac de sortie.</strong> À cause du
                        pli, les copies ont tendances à se pousser les unes les autres dans le bac de sortie.</p>
                    <figure>
                        <img src="/static/scan-12.jpg" alt="" />
                        <figcaption>Maintien des copies</figcaption>
                    </figure>
                </li>
            </ul>
            <p>Une fois la numérisation effectuée, il est possible d’introduire un nouveau tas de copies, et de lancer
                une nouvelle numérisation. Les réglages demeurent enregistrés pour la session.</p>
            <h4 id="fin-du-processus.">Fin du processus.</h4>
            <p>Sélectionner <em>« Retirer mémoire »</em>.</p>
        </div>

        <span onclick="toggle_part('upload')">
            <h3 class="title"><i id="upload" class="fa-solid fa-angle-right is-small logo"></i>
                Chargement de copies
            </h3>
        </span>
        <div id="part-upload" class="part3" hidden=true>
            <ol type="1">
                <li>
                    <p>À partir de l’examen, sélectionner <em>« Gérer »</em>.</p>
                    <figure>
                        <img src="/static/upload-01.png" alt="" />
                        <figcaption>Bouton <em>Gérer</em> de l’examen</figcaption>
                    </figure>
                </li>
                <li>
                    <p>Dans la partie de l’examen concernée, sélectionner <em>« Charger »</em>.</p>
                    <figure>
                        <img src="/static/upload-02.png" alt="" />
                        <figcaption>Bouton <em>Charger</em> propre à la partie de l’exam</figcaption>
                    </figure>
                </li>
                <li>
                    <p>Dans la fenêtre d’envoi, sélectionner le format des copies (en cas de copies dans un format
                        différent, par exemple en cas d’étudiants avec aménagement, il est nécessaire d’avoir procédé à
                        une numérisation séparée et de séparer les envois.</p>
                    <ul>
                        <li>
                            <p>Par exemple, dans le cas de copies au format copies doubles:</p>
                            <figure>
                                <img src="/static/upload-03.png" alt="" />
                                <figcaption>Ici les copies sont en format copies doubles</figcaption>
                            </figure>
                        </li>
                        <li>
                            <p>Par exemple, dans cet autre cas les copies sont au format A4, et chaque copie comporte 6
                                pages.</p>
                            <figure>
                                <img src="/static/upload-04.png" alt="" />
                                <figcaption>Ici les copies sont en A4 avec 6 pages par copie</figcaption>
                            </figure>
                        </li>
                    </ul>
                </li>
                <li>
                    <p>Puis sélectionner le fichier.</p>
                    <figure>
                        <img src="/static/upload-05.png" alt="" />
                        <figcaption>Sélectionner le fichier à envoyer</figcaption>
                    </figure>
                    <p><em>À noter: plusieurs fichiers peuvent être envoyés en même temps, tant que la taille totale ne
                            dépasse pas 200 MiB. Excepté dans le cas d’une connexion ultra-rapide ou de multiples très
                            petits fichiers, il n’est pas conseillé d’envoyer de nombreux fichiers en même temps.</em>
                    </p>
                </li>
                <li>
                    <p>Cliquer sur <em>« Téléverser »</em>.</p>
                </li>
                <li>
                    <p>Le fichier apparait, tout d’abord en attente, puis en cours de traitement, puis en état terminé.
                    </p>
                    <figure>
                        <img src="/static/upload-06.png" alt="" />
                        <figcaption>État de traitement d’un fichier</figcaption>
                    </figure>
                    <p><em>À noter: dès qu’un fichier est envoyé, il est possible d’envoyer les suivants sans attendre
                            que le traitement soit terminé. Les nouveaux fichiers seront en attente de traitement si le
                            serveur ne peut pas les traiter immédiatement.</em></p>
                </li>
                <li>
                    <p>Une fois tous les fichiers chargés, il est nécessaire d’attendre que tous les traitements soient
                        terminés avant de passer à l’étape suivante d’association.</p>
                </li>
            </ol>
        </div>

        <span onclick="toggle_part('associate')">
            <h3 class="title"><i id="associate" class="fa-solid fa-angle-right is-small logo"></i>
                Association des copies
            </h3>
        </span>
        <div id="part-associate" class="part3" hidden=true>
            <p>Une fois le chargement des copies effectué, il est possible de les associer. Sur la page de gestion de
                l'examen, cliquer sur le bouton "Associer" de la partie voulue.</p>
            <figure>
                <img src="/static/associate-01.png" alt="" />
                <figcaption>Bouton d'association des copies d'une partie</figcaption>
            </figure>
            <p>
                La page d'association se découpe en 3 parties distinctes :
            <ul>
                <li>À gauche, la liste des copies pour la partie</li>
                <li>Au milieu, le lecteur PDF affichant la copie sélectionnée sur le volet gauche</li>
                <li>À droite, la liste des étudiants de l'enseignement et la note associée à la copie affichée ainsi que
                    le commentaire éventuel</li>
            </ul>
            </p>
            <figure>
                <img src="/static/associate-02.png" alt="" />
                <figcaption>Constitution de la page d'association des copies</figcaption>
            </figure>
        </div>

        <span onclick="toggle_part('publish')">
            <h3 class="title"><i id="publish" class="fa-solid fa-angle-right is-small logo"></i>
                Publication de l'examen
            </h3>
        </span>
        <div id="part-publish" class="part3" hidden=true>
            <p>
                Une fois les copies d'une partie chargées et associées il est possible de les mettre en ligne pour les étudiants. Cette étape implique que tout étudiant associé à une copie pourra la consulter en se connectant sur la plateforme.
                <br/>
                Il n'y a pas nécessité que toutes les copies aient été chargées et associées avant publication, mais cela est en général préférable (sauf cas particuliers).
                <br/>
                <figure>
                    <img src="/static/publish-01.png" alt="" />
                    <figcaption>Bouton de publication des copies d'une partie</figcaption>
                </figure>
                Toute action de publication est intégralement ou partiellement réversible :
                <ul>
                    <li>
                        Intégralement : cliquer sur le même bouton que précédemment, maintenant nommé "Déplublier".
                    </li>
                    <li>
                        Partiellement : se rendre sur la page d'association des copies de la partie. Sur le volet de droite, une case "Copie publiée" informe de l'état de publication de la copie concernée. En décochant la case, toutes les copies de l'étudiant ciblé pour cette partie seront dépubliées.
                        <figure>
                            <img src="/static/publish-02.png" alt="" style="height: 700px;"/>
                            <figcaption>État de publication de la copie de l'étudiant sélectionné</figcaption>
                        </figure>
                    </li>
                </ul>
            </p>
        </div>
    </div>


</div>

{% endblock %}