<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"/>

</head>

<script type="text/javascript">
function setTeacherMode() {
    document.getElementById("teacher-mode").style.display = "block"
    document.getElementById("student-mode").style.display = "none"
    document.getElementById("li-teacher").classList.add("is-active")
    document.getElementById("li-student").classList.remove("is-active")

}

function setStudentMode() {
    console.log("coucou")
    document.getElementById("teacher-mode").style.display = "none"
    document.getElementById("student-mode").style.display = "block"
    document.getElementById("li-teacher").classList.remove("is-active")
    document.getElementById("li-student").classList.add("is-active")


}
</script>

<body>
    <div class="column is-4 is-offset-4" style="padding-top: 3em;">
        <h3 class="title" style="text-align: center">Se connecter en tant que :</h3>
        <div class="tabs is-centered is-medium">
            <ul>
                <li id="li-teacher" class="is-active">
                <a onclick="setTeacherMode()">Enseignant</a>
            </li>
                <li id="li-student"><a onclick="setStudentMode()">Étudiant</a></li>
            </ul>
        </div>

        <div id="teacher-mode" class="box">
            <form method="POST" action="/cas/login?role=teacher">
                <div class="field">
                    <div class="control">
                        <input class="input is-medium" type="login" name="login" placeholder="login" autofocus="" required>
                    </div>
                </div>

                <div class="field">
                  <div class="control">
                      <input class="input is-medium" type="surname" name="surname" placeholder="Nom" autofocus="">
                  </div>
                </div>

                <div class="field">
                  <div class="control">
                      <input class="input is-medium" type="name" name="name" placeholder="Prénom" autofocus="">
                  </div>
                </div>
                <button class="button is-block is-info is-medium is-fullwidth">Se connecter</button>
            </form>
        </div>

        <div id="student-mode" class="box" style="display: none;">
            <form method="POST" action="/cas/login?role=students">
                <div class="field">
                    <div class="control" style="display: flex; justify-content: center;">
                        <div class="select">
                            <select name="student">
                                {% for student in students %}
                                <option value={{student.login}}>{{student.login}} - {{student.courses_memberships[0].name}} {{student.courses_memberships[0].surname}}</option>
                                {% endfor %}
                              </select>
                        </div>
                     </div>
                  </div>
                <button class="button is-block is-info is-medium is-fullwidth">Se connecter</button>
            </form>
        </div>
        <h4>
          Ce site est une instance de test dont l'accès est possible à tous, <b>sans aucun filtrage</b>.
          <br/>
          Afin de tester l'outil, merci d'utiliser les <a href={{ "FAKE_DATA_URL" | env }}>jeux de copies fournis</a> et de ne pas charger de copies réelles.
        </h4>
    </div>
</body>

</html>
