{% extends "base.html" %}

{% block content %}

<style type="text/css">

    .add {
        width: 250px;
        margin: 0.5em;
    }

    .info-left {
        text-align: left;
        padding-left: 1.5em;
        line-height: 1.6em;
    }

    .info-right {
        text-align: left;
        padding-left: 1.5em;
        line-height: 1.5em;
    }

    .card {
        margin-bottom: 1.5em;
    }

    .card-footer {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .table {
        width: 100%;
    }

    .table thead th {
        position: sticky;
        top: 0;
        z-index: 1;
        background-color: white;
    }

    .students {
        max-height: 50vh;
        overflow-y: auto;
    }

    .teachers {
        max-height: 21vh;
        overflow-y: auto;
    }

</style>

<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', () => {
  // Functions to open and close a modal
  function openModal($el) {
    $el.classList.add('is-active');
  }

  function closeModal($el) {
    $el.classList.remove('is-active');
  }

  // Add a click event on buttons to open a specific modal
  (document.querySelectorAll('.js-modal-trigger') || []).forEach(($trigger) => {
    const modal = $trigger.dataset.target;
    const $target = document.getElementById(modal);

    $trigger.addEventListener('click', () => {
      openModal($target);
    });
  });

  // Add a click event on various child elements to close the parent modal
  (document.querySelectorAll('.modal-close, .delete, .close') || []).forEach(($close) => {
    const $target = $close.closest('.modal');

    $close.addEventListener('click', () => {
      closeModal($target);
    });
  });

});

</script>

<form action="/{{course_semester.semester_code}}">
    <button type="submit" class="button back">
        <i class="fa-solid fa-arrow-left" style="margin-right: 0.5em;"></i>
            Retour
    </button>
</form>


<div class="columns">
    <div class="column is-half">
        <div class="card">
            <header class="card-header">
            <p class="card-header-title" style="display: block;">
                Enseignement
            </p>
            </header>
            <div class="card-content">
            <div class="content">
                <div class="columns">
                    <div class="column is-half info-left">
                        <p><b>Code :</b> {{course_semester.course.code}}</p>
                        <p><b>Nom :</b> {{course_semester.course.name}}</p>
                        <p><b>Semestre :</b> {{course_semester.semester.name}}</p>
                    </div>
                        <div class="column is-half info-right">
                        <p><b>Nombre d'étudiants :</b> {{students.__len__()}}</p>
                        <p><b>Nombre d'enseignants :</b> {{teachers.__len__()}}</p>
                        <p><b>Nombre d'examens :</b> {{course_semester.exams.__len__()}}</p>
                    </div>
            </div>
            </div>
        </div>
        </div>
        <div class="card">
            <header class="card-header">
            <p class="card-header-title" style="display: block;">
                Équipe enseignante
            </p>
            </header>
            <div class="card-content">
            <div class="content">
                <div class="table-container teachers">
                    <table class="table is-striped is-narrow">
                        <thead>
                            <tr>
                                <th>Login</th>
                                <th>Nom</th>
                                <th>Prénom</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for teach in teachers %}
                            <tr>
                                <td>
                                    {{teach.user.login}}
                                </td>
                                <td>
                                    {% if teach.user.surname is not none %}
                                    {{teach.user.surname}}
                                    {% else %}
                                    Non renseigné
                                    {% endif %}
                                </td>
                                <td>
                                    {% if teach.user.name is not none %}
                                    {{teach.user.name}}
                                    {% else %}
                                    Non renseigné
                                    {% endif %}
                                </td>
                                <td>
                                    {% if teach.user!=user %}
                                    <a href="/course/{{course_semester.semester.code}}/{{course_semester.course.code}}/members/delete/{{teach.user.login}}" class="card-footer-item" onclick="return confirm('Attention, vous êtes sur le point de supprimer un enseignant. Êtes-vous sûr ?')">
                                        <i class="fa-solid fa-trash-can fa-lg" style="color: #ea4c4c;"></i>
                                    </a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <footer class="card-footer">
            <button class="button js-modal-trigger is-warning add" data-target="modal-add-teacher">Ajouter un enseignant</button>
        </footer>
        </div>
    </div>
    <div class="column is-half">
        <div class="card">
            <header class="card-header">
            <p class="card-header-title" style="display: block;">
                Étudiants
            </p>
            </header>
            <div class="card-content">
            <div class="content">
                <div class="table-container students">
                    <table class="table is-striped is-narrow">
                        <thead>
                            <tr>
                                <th>Login</th>
                                <th>Nom</th>
                                <th>Prénom</th>
                                <th>Date de naissance</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for student in students %}
                            <tr>
                                <td>
                                    {{student.user.login}}
                                </td>
                                <td>
                                    {{student.surname}}
                                </td>
                                <td>
                                    {{student.name}}
                                </td>
                                <td>
                                    {{student.birthdate.strftime('%d/%m/%Y')}}
                                </td>
                                <td>
                                    <a href="/course/{{course_semester.semester.code}}/{{course_semester.course.code}}/members/delete/{{student.user.login}}" class="card-footer-item" onclick="return confirm('Attention, vous êtes sur le point de supprimer un étudiant. Cette supression entraine la suppression de toutes les associations de copies enregistrées pour cet étudiant. Êtes-vous sûr ?')">
                                        <i class="fa-solid fa-trash-can fa-lg" style="color: #ea4c4c;"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <footer class="card-footer">
            <button class="button js-modal-trigger is-warning add" data-target="modal-add-list">Ajouter une liste d'étudiants</button>
            <button class="button js-modal-trigger is-warning add" data-target="modal-add-student">Ajouter un étudiant</button>
        </footer>
        </div>
    </div>
</div>



<form method="POST" action="/course/{{course_semester.semester.code}}/{{course_semester.course.code}}/members/add/teacher">
    <div class="modal" id="modal-add-teacher">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">
                Ajouter un enseignant
                </p>
                <button type="button" class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Login:</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control is-expanded has-icons-left">
                            <input id="login" name="login" class="input" required="true" />
                            <span class="icon is-small is-left">
                                <i class="fa-solid fa-file-signature"></i>
                            </span>
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <footer class="modal-card-foot">
                <button type="submit" class="button is-success">Ajouter</button>
                <button type="button" class="button is-danger close">Annuler</button>
            </footer>
        </div>
    </div>
</form>

<form method="POST" action="/course/{{course_semester.semester.code}}/{{course_semester.course.code}}/members/add/student">
    <div class="modal" id="modal-add-student">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">
                Ajouter un étudiant
                </p>
                <button type="button" class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Login :</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control is-expanded has-icons-left">
                            <input id="login" name="login" class="input" required="true" />
                            <span class="icon is-small is-left">
                                <i class="fa-solid fa-user"></i>
                            </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Nom :</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control is-expanded has-icons-left">
                            <input id="surname" name="surname" class="input" required="true" />
                            <span class="icon is-small is-left">
                                <i class="fa-solid fa-user"></i>
                            </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Prénom :</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control is-expanded has-icons-left">
                            <input id="name" name="name" class="input" required="true" />
                            <span class="icon is-small is-left">
                                <i class="fa-solid fa-user"></i>
                            </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Date de naissance :</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control is-expanded has-icons-left">
                            <input id="login" name="birthdate" class="input" type="date" required/>
                            <span class="icon is-small is-left">
                                <i class="fa-solid fa-calendar-days"></i>
                            </span>
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <footer class="modal-card-foot">
                <button type="submit" class="button is-success">Ajouter</button>
                <button type="button" class="button is-danger close">Annuler</button>
            </footer>
        </div>
    </div>
</form>

<form method="POST" action="/course/{{course_semester.semester.code}}/{{course_semester.course.code}}/members/add/list" enctype="multipart/form-data">
    <div class="modal" id="modal-add-list">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">
                Envoyer une liste d'étudiants
                </p>
                <button type="button" class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                <p>La liste d'étudiants doit être au format généré par les applications de l'ENT.
                </p>
                <p>Le responsable de l'UV peut la télécharger à l'aide du bouton <em>Extractions</em> sur l'application <em>Liste Des Étudiants Inscrits À Une UV</em>
                <p>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Sélectionner un fichier</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <input id="list" name="list" class="input"
                            type="file" required />
                        </div>
                    </div>
                </div>
            </section>
            <footer class="modal-card-foot">
                <button type="submit" class="button is-success">Téléverser</button>
                <button type="button" class="button is-danger close">Annuler</button>
            </footer>
        </div>
</form>


{% endblock %}
