{% extends "base.html" %}

{% block content %}

<style type="text/css">
  .hero-body {
    padding-top: 1em;
    padding-bottom: 0em;
  }

  .back {
    margin-bottom: 1.5vh !important;
    margin-right: 1em;
  }
  .column-center {
    text-align: center !important;
  }

  .controls {
    margin-bottom: 2vh;
    display: flex;
    justify-content: space-between;
  }

  .downloads {
    display: flex;
  }

  .download {
    margin-left: 1em;
  }

  .search-student {
    max-width: 50%;
    margin-right: 1em;
  }

  .table-container {
    max-height: 75vh;
    border: 1px solid rgb(170, 161, 161);
  }

  .table-fixed-head {
    overflow: auto;
    height: 60vh;
  }

  .table-fixed-head  thead th {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
  }

  th:hover {
    cursor: ns-resize;
  }
</style>

<script type="text/javascript">
  // Enable retrieving information in JS
  const sort_orders = {{orders | safe}};
  let display_list = [
    {% for student in students %}
      ["{{student.surname}}", "{{student.name}}",
      {% for col in columns %}

        {% if exam_results[col][student.login].paper is not none %}
          "{{exam_results[col][student.login].paper}}",
        {% else %}
          "{{exam_results[col][student.login].displaygrade}}",
        {% endif %}
      {% endfor %}
      ],
    {% endfor %}
  ]


  document.addEventListener('DOMContentLoaded', () => {
  // Functions to open and close a modal
  function openModal($el) {
    $el.classList.add('is-active');
  }

  function closeModal($el) {
    $el.classList.remove('is-active');
  }

  // Add a click event on buttons to open a specific modal
  (document.querySelectorAll('.js-modal-trigger') || []).forEach(($trigger) => {
    const modal = $trigger.dataset.target;
    const $target = document.getElementById(modal);

    $trigger.addEventListener('click', () => {
      openModal($target);
    });
  });

  // Add a click event on various child elements to close the parent modal
  (document.querySelectorAll('.modal-close, .delete, .close') || []).forEach(($close) => {
    const $target = $close.closest('.modal');

    $close.addEventListener('click', () => {
      closeModal($target);
    });
  });

});

function sortTable(col_index) {
  cols_header = document.getElementsByTagName("th")
  for (col of cols_header){
    col.style.backgroundColor = "white"
  }
  cols_header[col_index].style.backgroundColor = "#fcd40ecf"

  let col_name = cols_header[col_index].innerHTML

  let rows = document.getElementById("table-data").rows;

  for (let i=0; i < rows.length-1; i++){
    let target = sort_orders[col_name][i] + 1
    let cols = rows[target].getElementsByTagName("td")
    let previous_row = rows[i + 1]

    for (let j=0; j < cols.length; j++){
      if (cols_header[j].innerHTML.includes("Copie")){
        let link = cols[j].getElementsByTagName("a")[0];
        if(display_list[i][j] != "")
        {
            link.href = display_list[i][j];
            link.getElementsByTagName("img")[0].src = "/static/Icon_pdf_file.png";
        } else {
            link.href = "";
            link.getElementsByTagName("img")[0].src = "";
        }
      } else {
        cols[j].innerHTML = display_list[i][j]
      }
    }
  }

  searchStudent(document.getElementById("search-student"))
};

function normastr(x){
  return x.toLowerCase().normalize("NFKD").replace(/[\u0300-\u036f]/g, "");
}

function searchStudent(target){
  table = document.getElementById("table-data");
  rows = table.rows;

  for (i = 1; i < rows.length; i++) {
    rows[i].style.backgroundColor = ""
  }
  if (target.value != ""){
    let shouldFocus = true
    for (i = 1; i < (rows.length); i++) {
      surname = normastr(rows[i].getElementsByTagName("TD")[0].innerHTML);
      name = normastr(rows[i].getElementsByTagName("TD")[1].innerHTML);
      if (name.includes(normastr(target.value)) || surname.includes(normastr(target.value))){
        if (shouldFocus) {
          shouldFocus = false;
          rows[i].scrollIntoView({
            behavior: "smooth",
            block: 'center',
            inline: 'center'
          })
        }
        rows[i].style.backgroundColor = "rgba(252, 212, 14, 0.3)"
      }
    }
  }
};

function download(e){
  window.location.href = e.target.parentNode.parentNode.getElementsByTagName("select")[0].value
};

function handle_details(e){
  if (e.target.checked){
    window.location.href += "details=true"
  } else {
    window.location.href = window.location.href.replace("details=true", "")
  }
};
</script>


<div class="modal" id="modal-csv">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">
      Choisissez votre format
      </p>
      <button type="button" class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <div class="select">
        <select>
          <option value="/render/tables/xlsx/{{tablebasename}}.xlsx">Format xlsx</option>
          <option value="/render/tables/csv/{{tablebasename}}.csv">Format csv international</option>
          <option value="/render/tables/csv2/{{tablebasename}}.csv">Format csv français</option>

        </select>
      </div>
    </section>
    <footer class="modal-card-foot">
      <button type="submit" class="button is-success close" onclick="download(event)">Télécharger</button>
      <button type="button" class="button is-danger close">Annuler</button>
    </footer>
  </div>
</div>

<div class="modal" id="modal-zip">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">
      Choisissez votre fichier
      </p>
      <button type="button" class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <div class="select">
        <select>
          {% for zip in zips %}
          <option value="{{zip.url}}">{{zip.name}}</option>
          {% endfor %}
        </select>
      </div>
    </section>
    <footer class="modal-card-foot">
      <button type="submit" class="button is-success close" onclick="download(event)">Télécharger</button>
      <button type="button" class="button is-danger close">Annuler</button>
    </footer>
  </div>
</div>


{% if exam %}
<h4 class="title is-4">{{exam.semester_code}} — {{exam.course_code}} — {{exam.name}}</h4>
{% else %}
<h4 class="title is-4">{{course.semester_code}} — {{course.course_code}}</h4>
{% endif %}

<div class="controls">
  {% if exam %}
  <form action="/{{exam.semester_code}}">
  {% else %}
  <form action="/{{course.semester_code}}">
  {% endif %}
    <button type="submit" class="button back">
        <i class="fa-solid fa-arrow-left" style="margin-right: 0.5em;"></i>
            Retour
    </button>
</form>
  <input id="search-student" class="input search-student" type="text" oninput="searchStudent(event.target)" placeholder="Tapez un nom ou un prénom"></input>

  <label class="checkbox">
    <input type="checkbox" onchange="handle_details(event)" {% if details %} checked="true" {% endif %}>
    Détails
  </label>

  <div class="downloads">
    <button class="button is-warning js-modal-trigger download" data-target="modal-csv">
      Télécharger le tableau en xlsx/csv
    </button>

    <button class="button is-warning js-modal-trigger download" data-target="modal-zip">
      Télécharger toutes les copies
    </button>
  </div>
</div>


<div class="table-container table-fixed-head">
  <table class="table is-hoverable is-fullwidth is-striped" id="table-data" $table-cell-text-align="right">
    <thead class="header">
      <tr>
        <th onclick="sortTable(0)">Nom</th>
        <th onclick="sortTable(1)">Prénom</th>
        {% for col in columns %}
        <th class="column-center" onclick="sortTable({{ loop.index + 1 }})">{{col}}</th>
        {% endfor %}
    </thead>
      <tbody>
        {% for student in students %}
        <tr>
          <td>{{student.surname}}</td>
          <td>{{student.name}}</td>
          {% for col in columns %}
          <td class="column-center">
            {{exam_results[col][student.login].displaygrade}}
            {% if exam_results[col][student.login].paper is not none %}
            <a href="{{exam_results[col][student.login].paper}}" target="_blank">
                <img src="/static/Icon_pdf_file.png" />
            </a>
            {% else %}
            <a target="_blank">
                <img />
            </a>
            {% endif %}
          </td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
  </table>
</div>

{% endblock %}
