{% extends "base.html" %}

{% block content %}

<style type="text/css">

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;
    margin-bottom: 3em;
}

</style>

<script type="text/javascript">
  
</script>

<h4 class="title is-4">Vos informations personnelles</h4>

<div class="form">
    <div class="field is-horizontal">
        <div class="field-label is-normal">
        <label class="label">Login</label>
        </div>
        <div class="field-body">
        <div class="field">
            <p class="control">
            <input class="input" type="text" value="{{user.login}}" readonly>
            </p>
        </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label is-normal">
        <label class="label">Nom</label>
        </div>
        <div class="field-body">
        <div class="field">
            <p class="control">
            <input class="input" type="text" value="{{user.surname}}" readonly>
            </p>
        </div>
        </div>
    </div>
    
    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">Prénom</label>
        </div>
        <div class="field-body">
            <div class="field">
            <p class="control">
                <input class="input"  type="text" value="{{user.name}}" readonly>
            </p>
            </div>
        </div>
    </div>

    {% if user.birthdate is not none %}
    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">Date de naissance</label>
        </div>
        <div class="field-body">
            <div class="field">
            <p class="control">
                <input class="input is-static"  type="text" value="{{user.birthdate}}" readonly>
            </p>
            </div>
        </div>
    </div>{% endif %}
</div>
<p><em>Ces informations sont récupérées directement via le CAS. En cas d'erreur, contactez un administrateur.</em></p>



{% endblock %}
