{% macro create_fake_course() -%}

<form method="POST" action="/cas/course/new">
    <div class="modal" id="modal-create-fake-course">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">
                Ajouter un cours
                </p>
                <button type="button" class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Code :</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control is-expanded has-icons-left">
                            <input name="code" class="input" required="true" />
                            <span class="icon is-small is-left">
                                <i class="fa-solid fa-file-signature"></i>
                            </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Nom :</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control is-expanded has-icons-left">
                            <input name="name" class="input" required="true" />
                            <span class="icon is-small is-left">
                                <i class="fa-solid fa-file-signature"></i>
                            </span>
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <footer class="modal-card-foot">
                <button type="submit" class="button is-success">Ajouter</button>
                <button type="button" class="button is-danger close">Annuler</button>
            </footer>
        </div>
    </div>
</form>

{% endmacro %}
